# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
.eggs/

# Virtual environment
venv/

# IDEs
.vscode/
*.code-workspace

# Env variables
.env

# Airflow
airflow/plugins

# Docker volumes / temp files
*.bak
*.tmp
*.swp

# Data files
/data/*
!/data/download_data.py

# Build / compiled files
build/
dist/
*.egg

# Configs for log and jars spark
conf 

# Debezium
debezium/plugins/
debezium/configs/config
debezium/configs/data
debezium/configs/logs

# EDA
/eda

# Logs
logs/

# Pipelines
/pipelines/data/extract_csv.py


# Temp
__init__.py
/jars
/src
/trino
/log4j2.properties
/note_schema.txt



